* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-family: 'quicksandregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #2A3F70;
}
body #top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  color: white;
}
body #top h1 {
  margin-bottom: 50px;
}
body #top p {
  margin-bottom: 50px;
}
