body {
  background-color: #2A3F70;
}
body #top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  color: white;
}
body #top h1 {
  margin-bottom: 50px;
}
body #top p {
  margin-bottom: 50px;
}
body #buttons {
  display: flex;
}
body #buttons .button {
  width: 200px;
  height: 50px;
  background-color: #6E7FA5;
  margin-right: 50px;
  margin-top: 50px;
  border-radius: 5%;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  color: #122552;
}
body #buttons .button2 {
  width: 200px;
  height: 50px;
  background-color: #6E7FA5;
  margin-right: 50px;
  margin-top: 50px;
  border-radius: 5%;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  color: darkest;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-family: 'quicksandregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #6E7FA5;
  height: 75px;
}
header nav a {
  text-decoration: none;
  color: #122552;
  margin-top: 25px;
}
