body {
    background-image: url("/images/Camp-bg.jpg");
        #top {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top:10%;
            color: white;
            h1{
                margin-bottom: 50px;
            }
            p {
                margin-bottom: 50px;
            }
        }
        #buttons {
            display:flex;
            @media @mobile {
                flex-direction: column;
                margin: 0 auto;
                margin-left: 30%;
            }
            .button {
                width: 200px;
                height: 50px;
                border: 1px solid #149dd3;
                background-color: none;
                margin-right:50px;
                margin-top: 50px;
                border-radius: 5%;
                text-align: center;
                padding-top: 15px;
                text-decoration: none;
                color: rgb(12, 109, 236);
                
            }
            .button2 {
                width: 200px;
                height: 50px;
                background-color: none;
                border: 1px solid #149dd3;
                margin-right:50px;
                margin-top: 50px;
                border-radius: 5%;
                text-align: center;
                padding-top: 15px;
                text-decoration: none;
                color: rgb(12, 109, 236);
            }
        }
    }